<html>
  <head>
    <link href="/css/c3.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <div id="chart"></div>

    <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
    <script>

      var chart = c3.generate({
        data: {
            url: '/bodystats/show',
            mimeType: 'json',
            keys: {
              x: 'id',
              xFormat: '%Y-%m-%dT%H:%M:%S.%fZ',
              value: ['body_weight']
            }
        }
      })
    </script>
  </body>
</html>
