/*-- Chart --*/
/* line 2, /home/aiden/.rvm/gems/ruby-2.2.1/gems/rails-assets-c3-0.4.11/app/assets/stylesheets/c3/c3.scss */
.c3 svg {
  font: 10px sans-serif;
  -webkit-tap-highlight-color: transparent;
}

/* line 6, /home/aiden/.rvm/gems/ruby-2.2.1/gems/rails-assets-c3-0.4.11/app/assets/stylesheets/c3/c3.scss */
.c3 path, .c3 line {
  fill: none;
  stroke: #000;
}

/* line 10, /home/aiden/.rvm/gems/ruby-2.2.1/gems/rails-assets-c3-0.4.11/app/assets/stylesheets/c3/c3.scss */
.c3 text {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

/* line 15, /home/aiden/.rvm/gems/ruby-2.2.1/gems/rails-assets-c3-0.4.11/app/assets/stylesheets/c3/c3.scss */
.c3-legend-item-tile,
.c3-xgrid-focus,
.c3-ygrid,
.c3-event-rect,
.c3-bars path {
  shape-rendering: crispEdges;
}

/* line 22, /home/aiden/.rvm/gems/ruby-2.2.1/gems/rails-assets-c3-0.4.11/app/assets/stylesheets/c3/c3.scss */
.c3-chart-arc path {
  stroke: #fff;
}

/* line 25, /home/aiden/.rvm/gems/ruby-2.2.1/gems/rails-assets-c3-0.4.11/app/assets/stylesheets/c3/c3.scss */
.c3-chart-arc text {
  fill: #fff;
  font-size: 13px;
}

/*-- Axis --*/
/*-- Grid --*/
/* line 31, /home/aiden/.rvm/gems/ruby-2.2.1/gems/rails-assets-c3-0.4.11/app/assets/stylesheets/c3/c3.scss */
.c3-grid line {
  stroke: #aaa;
}

/* line 34, /home/aiden/.rvm/gems/ruby-2.2.1/gems/rails-assets-c3-0.4.11/app/assets/stylesheets/c3/c3.scss */
.c3-grid text {
  fill: #aaa;
}

/* line 37, /home/aiden/.rvm/gems/ruby-2.2.1/gems/rails-assets-c3-0.4.11/app/assets/stylesheets/c3/c3.scss */
.c3-xgrid, .c3-ygrid {
  stroke-dasharray: 3 3;
}

/*-- Text on Chart --*/
/* line 41, /home/aiden/.rvm/gems/ruby-2.2.1/gems/rails-assets-c3-0.4.11/app/assets/stylesheets/c3/c3.scss */
.c3-text.c3-empty {
  fill: #808080;
  font-size: 2em;
}

/*-- Line --*/
/* line 46, /home/aiden/.rvm/gems/ruby-2.2.1/gems/rails-assets-c3-0.4.11/app/assets/stylesheets/c3/c3.scss */
.c3-line {
  stroke-width: 1px;
}

/*-- Point --*/
/* line 50, /home/aiden/.rvm/gems/ruby-2.2.1/gems/rails-assets-c3-0.4.11/app/assets/stylesheets/c3/c3.scss */
.c3-circle._expanded_ {
  stroke-width: 1px;
  stroke: white;
}

/* line 54, /home/aiden/.rvm/gems/ruby-2.2.1/gems/rails-assets-c3-0.4.11/app/assets/stylesheets/c3/c3.scss */
.c3-selected-circle {
  fill: white;
  stroke-width: 2px;
}

/*-- Bar --*/
/* line 59, /home/aiden/.rvm/gems/ruby-2.2.1/gems/rails-assets-c3-0.4.11/app/assets/stylesheets/c3/c3.scss */
.c3-bar {
  stroke-width: 0;
}

/* line 62, /home/aiden/.rvm/gems/ruby-2.2.1/gems/rails-assets-c3-0.4.11/app/assets/stylesheets/c3/c3.scss */
.c3-bar._expanded_ {
  fill-opacity: 0.75;
}

/*-- Focus --*/
/* line 66, /home/aiden/.rvm/gems/ruby-2.2.1/gems/rails-assets-c3-0.4.11/app/assets/stylesheets/c3/c3.scss */
.c3-target.c3-focused {
  opacity: 1;
}

/* line 69, /home/aiden/.rvm/gems/ruby-2.2.1/gems/rails-assets-c3-0.4.11/app/assets/stylesheets/c3/c3.scss */
.c3-target.c3-focused path.c3-line, .c3-target.c3-focused path.c3-step {
  stroke-width: 2px;
}

/* line 72, /home/aiden/.rvm/gems/ruby-2.2.1/gems/rails-assets-c3-0.4.11/app/assets/stylesheets/c3/c3.scss */
.c3-target.c3-defocused {
  opacity: 0.3 !important;
}

/*-- Region --*/
/* line 76, /home/aiden/.rvm/gems/ruby-2.2.1/gems/rails-assets-c3-0.4.11/app/assets/stylesheets/c3/c3.scss */
.c3-region {
  fill: steelblue;
  fill-opacity: .1;
}

/*-- Brush --*/
/* line 81, /home/aiden/.rvm/gems/ruby-2.2.1/gems/rails-assets-c3-0.4.11/app/assets/stylesheets/c3/c3.scss */
.c3-brush .extent {
  fill-opacity: .1;
}

/*-- Select - Drag --*/
/*-- Legend --*/
/* line 86, /home/aiden/.rvm/gems/ruby-2.2.1/gems/rails-assets-c3-0.4.11/app/assets/stylesheets/c3/c3.scss */
.c3-legend-item {
  font-size: 12px;
}

/* line 89, /home/aiden/.rvm/gems/ruby-2.2.1/gems/rails-assets-c3-0.4.11/app/assets/stylesheets/c3/c3.scss */
.c3-legend-item-hidden {
  opacity: 0.15;
}

/* line 92, /home/aiden/.rvm/gems/ruby-2.2.1/gems/rails-assets-c3-0.4.11/app/assets/stylesheets/c3/c3.scss */
.c3-legend-background {
  opacity: 0.75;
  fill: white;
  stroke: lightgray;
  stroke-width: 1;
}

/*-- Title --*/
/* line 99, /home/aiden/.rvm/gems/ruby-2.2.1/gems/rails-assets-c3-0.4.11/app/assets/stylesheets/c3/c3.scss */
.c3-title {
  font: 14px sans-serif;
}

/*-- Tooltip --*/
/* line 103, /home/aiden/.rvm/gems/ruby-2.2.1/gems/rails-assets-c3-0.4.11/app/assets/stylesheets/c3/c3.scss */
.c3-tooltip-container {
  z-index: 10;
}

/* line 106, /home/aiden/.rvm/gems/ruby-2.2.1/gems/rails-assets-c3-0.4.11/app/assets/stylesheets/c3/c3.scss */
.c3-tooltip {
  border-collapse: collapse;
  border-spacing: 0;
  background-color: #fff;
  empty-cells: show;
  -webkit-box-shadow: 7px 7px 12px -9px #777777;
  -moz-box-shadow: 7px 7px 12px -9px #777777;
  box-shadow: 7px 7px 12px -9px #777777;
  opacity: 0.9;
}

/* line 116, /home/aiden/.rvm/gems/ruby-2.2.1/gems/rails-assets-c3-0.4.11/app/assets/stylesheets/c3/c3.scss */
.c3-tooltip tr {
  border: 1px solid #CCC;
}

/* line 119, /home/aiden/.rvm/gems/ruby-2.2.1/gems/rails-assets-c3-0.4.11/app/assets/stylesheets/c3/c3.scss */
.c3-tooltip th {
  background-color: #aaa;
  font-size: 14px;
  padding: 2px 5px;
  text-align: left;
  color: #FFF;
}

/* line 126, /home/aiden/.rvm/gems/ruby-2.2.1/gems/rails-assets-c3-0.4.11/app/assets/stylesheets/c3/c3.scss */
.c3-tooltip td {
  font-size: 13px;
  padding: 3px 6px;
  background-color: #fff;
  border-left: 1px dotted #999;
}

/* line 132, /home/aiden/.rvm/gems/ruby-2.2.1/gems/rails-assets-c3-0.4.11/app/assets/stylesheets/c3/c3.scss */
.c3-tooltip td > span {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-right: 6px;
}

/* line 138, /home/aiden/.rvm/gems/ruby-2.2.1/gems/rails-assets-c3-0.4.11/app/assets/stylesheets/c3/c3.scss */
.c3-tooltip td.value {
  text-align: right;
}

/*-- Area --*/
/* line 142, /home/aiden/.rvm/gems/ruby-2.2.1/gems/rails-assets-c3-0.4.11/app/assets/stylesheets/c3/c3.scss */
.c3-area {
  stroke-width: 0;
  opacity: 0.2;
}

/*-- Arc --*/
/* line 147, /home/aiden/.rvm/gems/ruby-2.2.1/gems/rails-assets-c3-0.4.11/app/assets/stylesheets/c3/c3.scss */
.c3-chart-arcs-title {
  dominant-baseline: middle;
  font-size: 1.3em;
}

/* line 151, /home/aiden/.rvm/gems/ruby-2.2.1/gems/rails-assets-c3-0.4.11/app/assets/stylesheets/c3/c3.scss */
.c3-chart-arcs .c3-chart-arcs-background {
  fill: #e0e0e0;
  stroke: none;
}

/* line 155, /home/aiden/.rvm/gems/ruby-2.2.1/gems/rails-assets-c3-0.4.11/app/assets/stylesheets/c3/c3.scss */
.c3-chart-arcs .c3-chart-arcs-gauge-unit {
  fill: #000;
  font-size: 16px;
}

/* line 159, /home/aiden/.rvm/gems/ruby-2.2.1/gems/rails-assets-c3-0.4.11/app/assets/stylesheets/c3/c3.scss */
.c3-chart-arcs .c3-chart-arcs-gauge-max {
  fill: #777;
}

/* line 162, /home/aiden/.rvm/gems/ruby-2.2.1/gems/rails-assets-c3-0.4.11/app/assets/stylesheets/c3/c3.scss */
.c3-chart-arcs .c3-chart-arcs-gauge-min {
  fill: #777;
}

/* line 165, /home/aiden/.rvm/gems/ruby-2.2.1/gems/rails-assets-c3-0.4.11/app/assets/stylesheets/c3/c3.scss */
.c3-chart-arc .c3-gauge-value {
  fill: #000;
  /*  font-size: 28px !important;*/
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *



 */

